################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/
/.vs/
/ElvUI_Updater/bin/
/ElvUI_Updater/obj/
/ElvUI_Updater/ElvUI_Updater.csproj.user
/ElvUI_Updater/FodyWeavers.xml
